$verde: #00cc99;

@mixin margenes($top, $botton){
	margin-top: $top;
	margin-botton: $botton;
}

.jumbotron {
	background-color: $verde;
	color: black;
	@include margenes(50px, 0px);
	justify-content: center;
}
.btn {
	color: black;
	background-color: #ccccff;
}

.card-product {
	flex: 1 150px;
	@include margenes (10px, 0px);
}
img-fluid {
	width: 100%;
	height: 400px;
}

.table-responsive{
	padding-top: 10px;
}

.btn-reserve {
	width: 100%;
	border-radius: 0px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: $verde;
	@include margenes (10px, 0px);
}
