.jumbotron {
	background-color: #00cc99;
	color: black;
	margin-top: 50px;
	justify-content: center;
}
.btn {
	color: black;
	background-color: #ccccff;
}

.card-product {
	flex: 1 150px;
	margin-top: 10px;
}
img-fluid {
	width: 100%;
	height: 400px;
}

.table-responsive{
	padding-top: 10px;
}


.btn-reserve {
	width: 100%;
	border-radius: 0px;
}

footer {
	padding: 10px 10px 0 10px;
	background-color: #00cc99;
	margin-botton:0px;
	margin-top: 10px;
}
